includes:
    - %currentWorkingDirectory%/vendor/bitexpert/phpstan-magento/extension.neon
parameters:
    paths:
        - .
    excludePaths:
        - vendor
    level: 7
    ignoreErrors:
        - message: '#\w+Factory#'
          reportUnmatched: false