includes:
    - vendor/bitexpert/phpstan-magento/extension.neon
parameters:
    paths:
        - .
    excludePaths:
        - vendor
    level: 4
    ignoreErrors:
        - '#Magento\\Backend\\Model\\View\\Result\\ForwardFactory#'
        - '#Magento\\Eav\\Model\\ResourceModel\\Entity\\Attribute\\Set\\CollectionFactory#'
        - '#Magento\\Catalog\\Model\\ResourceModel\\Product\\CollectionFactory#'