<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <akeneo_connector>
            <justbetter>
                <tierprices>0</tierprices>
                <categoryexist>0</categoryexist>
                <akeneomanager>0</akeneomanager>
                <insertnewproducts>1</insertnewproducts>
                <setproductsactive>0</setproductsactive>
                <enablemanagestock>0</enablemanagestock>
                <settaxclass>0</settaxclass>
                <enablemetricunits>0</enablemetricunits>
                <metric_conversion_channel>ecommerce</metric_conversion_channel>
                <defaultstorevalues>0</defaultstorevalues>
                <slack>
                    <enable>0</enable>
                    <token></token>
                    <username>akeneo</username>
                    <channel></channel>
                    <api>https://slack.com/api/chat.postMessage</api>
                </slack>
            </justbetter>
        </akeneo_connector>
    </default>
</config>
