<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Akeneo\Connector\Job\Product">
        <plugin name="JustBetter_FixConfigurableProductUrls" type="JustBetter\AkeneoBundle\Plugin\FixProductUrls" />
        <plugin name="JustBetter_TierPrices" type="JustBetter\AkeneoBundle\Plugin\SetTierPrices" />
        <plugin name="JustBetter_InsertNewProducts" type="JustBetter\AkeneoBundle\Plugin\InsertNewProducts" />
        <plugin name="JustBetter_setTaxClass" type="JustBetter\AkeneoBundle\Plugin\SetTaxClassId" />
        <plugin name="JustBetter_setProductsActive" type="JustBetter\AkeneoBundle\Plugin\SetProductsActive" />
        <plugin name="JustBetter_EnableManageStock" type="JustBetter\AkeneoBundle\Plugin\EnableManageStock" sortOrder="1" />
        <plugin name="JustBetter_SetStockStatus" type="JustBetter\AkeneoBundle\Plugin\SetStockStatus" sortOrder="2" />
        <plugin name="JustBetter_ImportFinished" type="JustBetter\AkeneoBundle\Plugin\ImportFinished" sortOrder="10" />
        <plugin name="JustBetter_CheckWebsiteAssociation" type="JustBetter\AkeneoBundle\Plugin\CheckWebsiteAssociation" />
    </type>

    <type name="Akeneo\Connector\Job\Category">
        <plugin name="JustBetter_ImportFinished" type="JustBetter\AkeneoBundle\Plugin\ImportFinished" sortOrder="1" />
        <plugin name="JustBetter_CategoryExist" type="JustBetter\AkeneoBundle\Plugin\CategoryExist" />
    </type>

    <type name="Akeneo\Connector\Job\Attribute">
        <plugin name="JustBetter_ImportFinished" type="JustBetter\AkeneoBundle\Plugin\ImportFinished" sortOrder="1" />
    </type>

    <type name="Akeneo\Connector\Job\Family">
        <plugin name="JustBetter_ImportFinished" type="JustBetter\AkeneoBundle\Plugin\ImportFinished" sortOrder="1" />
    </type>

    <type name="Akeneo\Connector\Job\Option">
        <plugin name="JustBetter_ImportFinished" type="JustBetter\AkeneoBundle\Plugin\ImportFinished" sortOrder="1" />
    </type>

    <type name="Akeneo\Connector\Helper\Import\Entities">
        <plugin name="JustBetter_FormatMediaName" type="JustBetter\AkeneoBundle\Plugin\Helper\Import\Entities" sortOrder="1" />
    </type>

    <type name="Akeneo\Connector\Helper\Import\Product">
        <plugin name="JustBetter_ImportantAttributes" type="JustBetter\AkeneoBundle\Plugin\Helper\Import\Product" sortOrder="1" />
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="import" xsi:type="object">Akeneo\Connector\Console\Command\AkeneoConnectorImportCommand</item>
                <item name="slackNotificationCommand" xsi:type="object">JustBetter\AkeneoBundle\Console\Command\SlackNotificationCommand</item>
                <item name="MailNotificationCommand" xsi:type="object">JustBetter\AkeneoBundle\Console\Command\MailNotificationCommand</item>
                <item name="UpdateMetricUnits" xsi:type="object">JustBetter\AkeneoBundle\Console\Command\ImportMetricUnits</item>
                <item name="SetNotVisible" xsi:type="object">JustBetter\AkeneoBundle\Console\Command\SetNotVisible</item>
            </argument>
        </arguments>
    </type>

    <preference for="Akeneo\Connector\Helper\Import\Product" type="JustBetter\AkeneoBundle\Helper\Import\Product"/>
</config>
