<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="akeneo_connector_import_finish_attribute">
        <observer name="retrieve_metric_values" instance="JustBetter\AkeneoBundle\Observer\ImportMetricUnits"/>
    </event>
    <event name="akeneo_connector_import_finish_product">
        <observer name="set_not_visible" instance="JustBetter\AkeneoBundle\Observer\SetNotVisible"/>
        <observer name="remove_redundant_eav" instance="JustBetter\AkeneoBundle\Observer\RemoveRedundantEav" />
    </event>
</config>