<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="catalog" translate="label" sortOrder="2000">
            <label>catalog</label>
        </tab>
        <section id="akeneo_connector" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0"
                 showInStore="0">
            <label>Akeneo Connector</label>
            <tab>catalog</tab>
            <resource>Akeneo_Connector::config_akeneo_connector</resource>
            <group id="product" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Products</label>
                <field id="groups" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Customer Group Pricing</label>
                    <frontend_model>JustBetter\AkeneoBundle\Block\Adminhtml\System\Config\Form\Field\Type</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Map specific Akeneo attribute code with a Magento Customer group. This ensures that the
                        tier prices from Akeneo are imported into Magento customer tier prices
                    </comment>
                    <depends>
                        <field id="akeneo_connector/justbetter/tierprices">1</field>
                    </depends>
                </field>
                <field id="tax_id_mapping" translate="label" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Tax Class Mapping</label>
                    <frontend_model>JustBetter\AkeneoBundle\Block\Adminhtml\System\Config\Form\Field\TaxIdMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Map Akeneo tax class codes to Magento tax class. Make sure the Akeneo Tax attribute is mapped in Attributes --> Additional Types section in the Akeneo connector configuration.</comment>
                    <depends>
                        <field id="akeneo_connector/justbetter/settaxclass">1</field>
                    </depends>
                </field>
                <field id="required_attribute_mapping" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Unset Website when empty Product Attribute Mapping</label>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Attribute</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Each of the required product attributes will be checked. If one of the attributes is empty the Website Association is removed. For Example when a productname in Akeneo is empty, there may be errors in Magento.</comment>
                </field>
            </group>
            <resource>JustBetter_AkeneoBundle::akeneobundle_config</resource>
            <group id="justbetter" translate="label" type="text" sortOrder="2000" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>JustBetter Akeneo</label>
                <field id="important_attributes" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Important Attributes</label>
                    <comment>Select the attributes that should always be imported even if empty.</comment>
                    <source_model>Akeneo\Connector\Model\Source\Filters\Attribute</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="tierprices" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Tier Prices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Map specific Akeneo attribute code with a Magento Customer group. (Default no)</comment>
                </field>
                <field id="categoryexist" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Category Exist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Skip inserting url path when category already exist. (Default no)</comment>
                </field>
                <field id="akeneomanager" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Akeneo Manager</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Manages akeneo codes and magento entity id's. (Default: no)</comment>
                </field>
                <field id="insertnewproducts" translate="label" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Insert New Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Imports new products from akeneo. (Default: yes)</comment>
                </field>
                <field id="settaxclass" translate="label" type="select" sortOrder="70" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Set Tax Class</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Map Akeneo tax class codes to Magento tax class (Default: no)</comment>
                </field>
                <field id="setproductsactive" translate="label" type="select" sortOrder="80" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Set products active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set all products from import to active. (Default: no)</comment>
                </field>
                <field id="enablemanagestock" translate="label" type="select" sortOrder="90" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Enable manage stock by default</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set manage stock on product always on (Default: no)</comment>
                </field>
                <field id="setstockstatus" translate="label" type="select" sortOrder="100" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Set stock status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set stock status to "In Stock" when backorders are allowed</comment>
                </field>
                <field id="formatmedianame" translate="label" type="select" sortOrder="110" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Apply SEO friendly media name formatting</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Format Media name from "_" to "-"</comment>
                </field>
                <field id="enablemetricunits" translate="label" type="select" sortOrder="120" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Enable retrieving metric units</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Units are retrieved and put in the eav_attribute table for metric attributes (Default: no)</comment>
                </field>
                <field id="metric_conversion_channel" translate="label" type="text" sortOrder="130" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Channel for metric conversions</label>
                    <comment>What channel to use for metric conversions</comment>
                </field>
                <field id="notvisiblefamilies" translate="label" type="multiselect" sortOrder="140" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Set families to not visible individually after importing</label>
                    <source_model>JustBetter\AkeneoBundle\Data\FamilyOptions</source_model>
                    <comment>When a family is selected here all of the products will get the status not visible individually</comment>
                </field>
                <field id="defaultstorevalues" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Set default value for required attributes</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set the value on the default store for required attributes that are scopable or localizable. (Default no)</comment>
                </field>
                <field id="defaultlanguage" translate="label" type="text" sortOrder="155" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Default language for admin channel</label>
                    <comment>If a value of the admin channel is missing, then this setting can be used to map a certain value as your definitive fallback value for a required attribute for example 'nl_NL'
                    </comment>
                    <depends>
                        <field id="akeneo_connector/justbetter/defaultstorevalues">1</field>
                    </depends>
                </field>
                <group id="slack" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Slack Akeneo import notifications</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                           showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="token" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                           showInStore="0">
                        <label>Token</label>
                        <comment>Authentication token bearing required scopes. This token is required to authorize this
                            app to send Slack messages.
                        </comment>
                    </field>
                    <field id="username" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                           showInStore="0">
                        <label>Username</label>
                        <comment>Set your bot's user name. This is the name that will be displayed at the Slack
                            messages.
                        </comment>
                    </field>
                    <field id="channel" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0"
                           showInStore="0">
                        <label>Channel</label>
                        <comment>Channel, private group, user or IM channel to send message to. Channels always start
                            with #. Could be an encoded ID, or a name.
                        </comment>
                    </field>
                    <field id="api" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0"
                           showInStore="0">
                        <label>api</label>
                        <comment>Slack api url.</comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
